body {
    margin: 0 auto;
    background-color: #ECF0F1;
    width: 95%;
}

a {
    text-decoration: none;
}

.top1 {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,255,0.3);
}

p {
    font-size: 1.5em;
}

.bookicon {
    margin: 5px 15px;
}

.shopName {
    display: inline-block;
    vertical-align: top;
    margin: 18px auto;
    letter-spacing: 3px;
    font-family: Verdana, Tahoma, sans-serif;
}

.user {
    float: right;
    margin: auto 15px
}

.shop {
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
    margin: 17px 20px;

}

.shop:hover {
    transform: scale(1.5);
}

.logIn {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: 0.5s;
}

.logIn:hover {
    transform: scale(1.5);
}

.topNav {
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 10px;
    margin: auto 0;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}
.home {
    margin: 10px 10px;
    padding: 8px;
    transition: 0.5s;
}

.home:hover {
    background-color: rgba(0,0,255,0.5);
    color: white;
    border-radius: 13px;
}

.books {
    margin: 10px 10px;
    padding: 8px;
    transition: 0.5s;
}

.books:hover {
    background-color: rgba(0,0,255,0.5);
    color: white;
    border-radius: 13px;
}

.service {
    margin: 10px 10px;
    padding: 8px;
    transition: 0.5s;
}

.service:hover {
    background-color: rgba(0,0,255,0.5);
    color: white;
    border-radius: 13px;
}

.contact {
    margin: 10px 10px;
    padding: 8px;
    transition: 0.5s;
}

.contact:hover {
    background-color: rgba(0,0,255,0.5);
    color: white;
    border-radius: 13px;
}

header {
    width: 100%;
    padding: 5px 0;
    margin: 25px 0;
    text-align: center;
}

.leftheader {
    width: 300px;
    height: 200px;
    padding: 100px 5px;
    display: inline-block;
}

h1 {
    margin: 5px 55px;
    padding: 1px;
    letter-spacing: 2px;
    font-size: 2.5em;
}

.explore {
    font-size: 14px;
    opacity: 0.6;
    text-align: center;
}

.booksearch {
    width: 58%;
    padding: 3px 10px;
    margin: 5px 55px;
    border-radius: 15px;
    border-width: 1px;
    opacity: 0.7;
}

.feature {
    margin: 20px 0;
    display: inline-block;
    padding: 50px 5px;
    position: absolute;
}

.ikigai {
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.3);
}

.ikigaisummary {
    display: inline-block;
    margin: 0 220px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
}

.seemore {
    color: blue;
    text-align: right;
    display: block;
    padding: 10px 2px;
}

main {
    width: 100%;
    border: 1px solid black;
    position: relative;
}