body {
    margin: 0 auto;
    background-color: #ECF0F1;
}

a {
    text-decoration: none;
}

.top1 {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,255,0.3);
}

p {
    font-size: 1.5em;
}

.bookicon {
    margin: 5px 15px;
}

.shopName {
    display: inline-block;
    vertical-align: top;
    margin: 18px auto;
    letter-spacing: 3px;
    font-family: Verdana, Tahoma, sans-serif;
}

.search {
    float: right;
    margin: auto 15px
}

.search1 {
    width: 300px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 5px 8px;
    margin: 20px 1px;
}

.shop {
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
}

.shop:hover {
    transform: scale(1.5);
}

.logIn {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: 0.5s;
}

.logIn:hover {
    transform: scale(1.5);
}

.topNav {
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 5px 0;
}

.home, .books, .service, .contact {
    padding: 25px;
    margin: auto 0;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    margin: auto 0;
    color: black;
}

header {
    position: relative;
    text-align: center;
    margin: auto 0;
}

.centerbutton {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.offer {
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.8em;
}

.getitstarted {
    background-color: rgba(0,0,255,0.5);
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    transition: 0.2s;
    font-family: Verdana, Tahoma, sans-serif;
}

.getitstarted:hover {
    transform: scale(1.2);
}